.col-sm-3 img {
    max-width: 100%;
  }
  
  @media (max-width: 767px) {
    .col-sm-3 {
      flex-direction: row;
      align-items: center;
    }
    .col-sm-3 button {
      margin: 0 5px;
    }
    .imgWidth{
        width: 500px;
        height: 200px;
    }
  }
  